fastapi
uvicorn
langchain
langchain-core
langchain-openai
langgraph
langgraph-checkpoint-postgres
chromadb
python-dotenv
psycopg
psycopg-pool
mcp
langchain-chroma
langchain-community
langchain-mcp-adapters
langchain-tavily
tavily-python
pypdf
python-multipart
